.App {
  text-align: center;
}
.about{
  margin: auto;
  text-align: center;
  width: 40%;
  padding: 50px 0px;
  
}
.about h3{
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.about p{
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 1.2;
}
.LastCourse{
  text-align: center;
 
}
.LastCourse .cardlast{
  text-align: left;
}
.join{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.join .head{

  margin-top: 100px;
  text-align: center;
  margin-left: 50px;
  width: 35%;
}
.join .imgjoin{
  width: 65%;
  padding-left: 50px;
  margin: 100px;
  text-align: right;
}
.footer{
  text-align: center;
  background-color: rgb(248, 246, 246);
  margin: 0;
  padding: 20px 0px 5px 0px;
}
.footer span{
  color: red;
  font-weight: 700;
}
.singleCo{
  padding-top: 50px;
  margin: 100px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
